body {
    background-color: black;
    text-align: center;
    font-family: Verdana, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

h1 {
    color: white;
}


header h1 {
    font-weight: normal;
    font-size: 50px;
}

a {
    color: aquamarine;
    font-size: 16px;
}

#background-video {
    height: auto; /* Maintain aspect ratio */
    margin: 20px 0; /* Center the video */
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.video-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

main h1 {
    font-weight: 300;
    font-size: 42px;
}

p {
    color: gray;
    font-size: 21px;
}


#phone {
    margin-top: 30px;
}

footer p {
    text-align: right;
    margin-right: 20px;
}